<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    ${head}
  </head>
  <body class="bg-blue-100">
    <div class="flex flex-col items-center m-8" id="search-form">
      <input
        class="w-3/4 border border-transparent shadow-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent ..."
        id="search-what"
        type="text"
        placeholder="What skill are you looking to hire for?"
      />
      <input
        class="w-3/4 mt-2 border border-transparent shadow-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent ..."
        id="search-where"
        type="text"
        placeholder="Where are you hiring?"
      />
      <button class="w-24 mt-2 py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-blue-500 hover:bg-blue-700" id="search-btn" type="submit">Search</button>
      <a href="/posts"><button class="w-24 mt-2 py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-blue-500 hover:bg-blue-700" id="search-view-all">View All</button></a>
    </div>

    <div class="flex flex-col items-center m-8" id="hero">
      <h1 class="font-black text-5xl lg:text-6xl">Please Hire Me</h1>
      <p class="mt-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minima
        alias blanditiis dolorem velit quisquam tempora atque modi assumenda,
        labore consectetur molestiae, explicabo unde perspiciatis corrupti
        dolorum totam aperiam praesentium mollitia culpa consequuntur quos? Quis
        enim, ratione similique, beatae eos nisi repudiandae hic consequuntur
        autem eum, deserunt ducimus pariatur minima.
      </p>
    </div>

    <div class="flex flex-col items-center m-8" id="cta">
      <h3 class="font-black text-3xl lg:text-4xl">Post your resume here and get hired</h3>
      <a href="/posts/create"
        ><button class="mt-2 py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-blue-500 hover:bg-blue-700" type="button">Create a profile</button></a
      >
    </div>
  </body>
</html>
