<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    ${head}
  </head>
  <body class="bg-blue-100">
    ${header}
    <form class="flex flex-col items-center m-8" action="" method="POST">
      <input class="w-3/4 text-center border border-transparent shadow-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent ..." type="text" name="name" placeholder="Your name here..." />
      <input class="mt-2 w-3/4 text-center border border-transparent shadow-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent ..." type="email" name="email" placeholder="Your email here..." />
      <textarea
        class="mt-2 w-1/2 h-80 text-center border border-transparent shadow-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent ..."
        name="bio"
        id=""
        cols="30"
        rows="10"
        placeholder="Your comment here..."
        required
      ></textarea>
      <input class="mt-2 py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-blue-500 hover:bg-blue-700" type="submit" />
    </form>
  </body>
</html>
