<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    ${head}
  </head>
  <body>
    <form action="/posts/search" method="GET">
      <input type="text" name="bio" placeholder="bio" required />
      <input type="submit" value="Search Bios" />
    </form>
    <a href="/posts/all"><button>View All</button></a>

    <div class="container" id="search-results">
      ${posts.map(post => `
      <a href="${post.id}"><li>${post.name}</li></a>
      `).join('')}
    </div>
  </body>
</html>
