<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        ${head}
    </head>
    <body class="bg-blue-100">
        ${header}
        <form class="flex flex-col items-center mt-8 mr-8 ml-8" action="/posts/search" method="GET">
          <label class="text-3xl text-center" for="bio">What skill are you looking to hire for?</label>
          <input class="w-3/4 mt-2 text-center border border-transparent shadow-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent ..." type="text" name="bio" placeholder="keywords..." required />
          <input class="w-36 mt-2 py-2 px-4 font-semibold rounded-lg shadow-lg text-white bg-blue-500 hover:bg-blue-700" type="submit" value="Search Bios" />
        </form>
        <div class="flex flex-col items-center">
          <a href="/posts/all"><button class="w-30 mt-2 py-2 px-4 font-semibold rounded-lg shadow-lg text-white bg-blue-500 hover:bg-blue-700">View All</button></a>
        </div>

    <div class="flex flex-col m-4 border-t border-black">
      ${posts.map(post => `
      <a class="flex flex-row justify-between mt-4 p-2 bg-blue-500" href="${post.id}">
        <div>
          <li class="list-none text-xl text-white">${post.name}</li>
          <p>${post.bio}</p>
        </div>
        <div class="block flex-shrink-0">
          <img src="/images/magnifier.png" width="50" alt="image of a magnifier">
        </div>
      </a>
      `).join('')}
    </div>
  </body>
</html>
